@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap");
@import url("./../components/Header/header.css");
@import url("./../components/Footer/footer.css");
@import url("./../css/articles.css");
@import url("./../css/media.css");

*, *::after, *::before
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul
{
	list-style-type: none;
}

body, a, input, button
{
	font-family: "Rubik", sans-serif;
}

html, body
{
	min-width: 320px;
}


html
{
	height: 100%;
} 

body
{
	display: flex;
	flex-flow: column nowrap;

	min-height: 100%;

	animation: backgroundAnim 240s;

	background-image: url("./../img/background.jpg");
	background-size: 10%;
}

@keyframes backgroundAnim
{
	from
	{
		background-position: 0%;
	}
	50%
	{
		background-position: 100%;
	}
	to
	{
		background-position: 0%;
	}
}

img
{
	object-fit: cover;
}

a
{
	display: block;

	text-decoration: none;

	color: #000000;
}

.container
{
	max-width: 1440px;
	margin: 0 auto;
	padding: 50px;
}