@media screen and (max-width: 1440px)
{
	.textAnimated p, .textAnimated span
	{
		font-size: 4vw;
	}
}

@media screen and (max-width: 1200px)
{
	.content .container
	{
		column-count: 2;
	}
	.textAnimated p, .textAnimated span
	{
		font-size: 5vw;
	}
	#forArticle .article__textContent
	{
		padding: 25px 50px;
	}
	#forArticle .article__textContent p
	{
		font-size: 19px;
	}
	#forArticle h2, #forArticle h3, #forArticle h4
	{
		margin: 10px 0;
	}
}

@media screen and (max-width: 768px)
{
	#forArticle
	{
		margin-top: 100px;
	}
	.container
	{
		padding: 25px;
	}
	.content .container
	{
		padding: 25px 5px;

		column-count: 1;
	}
	.header .container
	{
		flex-flow: column nowrap;

		padding-bottom: 0;
	}
	.header .container h1
	{
		margin-bottom: 25px;
	}
	.header__heading a
	{
		text-align: center;
	}
	.header__menu
	{
		width: 100%;
	}
	.menu__item, .dropdown__wrapper
	{
		flex-grow: 1;
	}
	.textAnimated
	{
		margin-top: 150px;
	}
	#forArticle h1
	{
		font-size: 6vw;
	}
	#forArticle .article__textContent
	{
		padding: 25px 7vw;
	}
	#forArticle .article__textContent p
	{
		font-size: 18px;
	}
	#forArticle h2, #forArticle h3, #forArticle h4
	{
		margin: 5px 0;
	}
	.content__article > img
	{
		margin-right: 0;
	}
	.content__article
	{
		padding: 0;
	}
	.back
	{
		display: block;

		width: 100%;
		margin: 25px auto;

		text-align: center;
	}
	.textAnimated
	{
		margin-top: 170px;
	}
	.footer .container
	{
		flex-flow: column nowrap;
	}
	.copyright
	{
		order: 10;

		width: 100%;

		text-align: center;
	}
	.phoneWrapper, .emailWrapper
	{
		justify-content: center;
	}
	.categoryWrapper
	{
		align-self: center;

		margin: 55px 0;
	}
}

@media screen and (max-width: 600px)
{
	.header__menu
	{
		flex-flow: column nowrap;
	}
	.menu__item, .dropdown__wrapper
	{
		width: 100%;
	}
	.header__heading a
	{
		font-size: 8vw;
	}
	.textAnimated
	{
		margin-top: 250px;
	}
	#forArticle
	{
		margin-top: 220px;
	}
}
