.footer
{
	background-color: #ffffff;
}

.footer .container 
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: ce;
}

.email 
{
	background-image: url("./../../../img/mail.png");
}

.copyright
{
	align-self: flex-end;
	font-weight: bold;
}